*,
*:before,
*:after {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: grayscale;
}

:root {
  --neutral: #e2e8f0;
  --light: #f1f5f9;
  --dark: #cbd5e1;
  --text: #0f172a;
}

body {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

header {
  padding: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

button,
video {
  all: unset;
  background: var(--neutral);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--text);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
  border: 1px solid var(--dark);
  border-radius: 8px;
}

video {
  overflow: hidden;
  padding: 0;
  object-fit: contain;
}

button:hover {
  background: var(--light);
}

footer,
a {
  color: var(--dark);
}
