*,
*:before,
*:after {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

:root {
  --neutral: #e2e8f0;
  --light: #f1f5f9;
  --dark: #cbd5e1;
  --text: #0f172a;
}

div {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1rem;
}

header {
  display: grid;
  gap: 0.5rem;
}

button,
video {
  all: unset;
  background: var(--neutral);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--text);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
  border: 1px solid var(--dark);
  border-radius: 8px;
  max-width: 100%;
}

button {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
  justify-items: start;
}

video {
  overflow: hidden;
  padding: 0;
  object-fit: contain;
}

button:hover {
  background: var(--light);
}

footer {
  color: var(--dark);
  text-align: center;
}

a,
a:visited {
  color: currentColor;
}

details {
  text-align: left;
  max-width: 100%;
  color: var(--text);
  padding: 2rem;
  text-align: left;
}

article {
  max-width: 66ch;
  display: grid;
  padding-top: 2rem;
  grid-gap: 1rem;
}

p,
li {
  line-height: 1.5;
}
